<link rel="stylesheet" href="/css/components/header.css">

<section class="top-header">
    <div class="row">
        <div class="column">
            <img class="logo" src="/img/icon.JPG">
        </div>
        <div class="column">Product plein</div>
        <div class="column">
            <div class="search-bar">
                <input type="text" placeholder="Zoeken..">
                <button type="submit">Submit</button>
            </div>
        </div>
    </div>
</section>

<section class="bottom-header">
    <div class="row">
        <nav>
            <button href="home">home</button>
            <button href="products">products</button>
            <button href="contact">contact</button>
        </nav>
    </div>
</section>

