.main-header {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 5rem;
}

.main-menu a {
    border-bottom: 2px solid transparent;
    padding: 0.4rem 1rem;
}

.main-menu a:hover {
    border-bottom: 2px solid white;
    padding: 0.4rem 1rem;
}