<link rel="stylesheet" href="/css/components/header.css">

<section class="main-header">
    <div class="row">
        <div class="column center">
            <a href="home">
                <img src="img/logo.png" class="logo">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="column center">
            <nav class="main-menu">
                <a href="home" changePage="1">Home</a>
                <a href="games" changePage="1">Games</a>
            </nav>
        </div>
    </div>
</section>

